.callout {
  width: 400px;
  margin: 10px;
  border: 1px solid black;
  padding: 15px;
  background-color: #224477;
  color: #ffffff;
}

.callout img {
  float: right;
  margin: 0 0 10px 15px;
  border: 1px solid wheat;
  padding: 3px;
  background-color: #ffffff;
  width: 100px;
  height: auto;
}

blockquote {
  margin: auto;
}

cite {
  display: block;
  border-top: 1px dotted white;
  padding-top: 3px;
  text-align: right;
  font-size: smaller;
}
